
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
}

.header{
    background: rgb(0, 217, 255);
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 60px;
    height: 60px;
}

.content{
    width: 60%;
    margin: 2em auto;
    background: #FFF;
    padding: 2em 1em;
    box-shadow: 0px 4px 11px 3px rgba(0,0,0,.04);
    border-radius: 8px;
}

.content h2{
    color: #5D6674;
    text-align: center;
    margin: 1em 0em 2em 0em;
    font-weight: 800;
    
}


.lista{
    width: 100%;
    
}
.lista ul{
    display: flex;
}

.lista ul li{
    list-style: none;
    margin: 1em auto;
}

.lista li a{
    color: #5D6674;
    text-decoration: none;
    font-weight: 800;
    background: #B1E5F0;
    margin: .2em;
    padding: 0.8em;
    border: 2px solid #5D6674;
    border-radius: 6px;
    box-shadow: 0px 5px 0px rgba(255,255,255, .5) inset, 0px 1px 40px rgb(0, 217, 255, .3);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.lista li a:hover{
    box-shadow: 0px 42px 0px rgba(255,255,255, .5) inset;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}


.footer{
    background: rgb(0, 217, 255);
    width: 100%;
    height: auto;
    padding: 1em;
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    color: #5D6674;
    text-align: center;
}


@media screen and (max-width: 1140px){

    .content{
        width: 100%;
        margin: 1em auto;
        background: #FFF;
        padding: 2em 1em;
        box-shadow: 0px 4px 11px 3px rgba(0,0,0,.04);
        border-radius: 0;
    }
}

@media screen and (max-width: 700px){
    .lista{
        width: 100%;
    }
    .lista ul{
        width: 100%;
        flex-direction: column;
    }
    .lista ul li{
        width: 100%;
        margin: .6em;
    }
    .lista ul li a{
        float: left;
        width: 100%;
        margin: 0;
        text-align: center;
    }
}